* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 15px 30px;
  font-size: 17px;
  padding: 5% 20% 10% 20%;
}

.container {
  background-color: rgba(238, 223, 223, 0.484);
  padding: 5px 20px 15px 20px;
  border: 1px solid rgb(60, 167, 33);
  border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid chocolate;
  border-radius: 4px;
  margin: 10px;
}

fieldset {
  background-color: white;
  border: 1px solid chocolate;
  border-radius: 4px;
  margin-left: 1%;
}
.head {
  text-align: center;
}

button[type="submit"] {
  background-color: rgba(38, 99, 50, 0.884);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="reset"] {
  background-color: rgba(89, 101, 35, 0.884);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.cont {
  display: flex;
  justify-content: space-around;
  
